DOCKERHUB_USERNAME=inwoohwang

# 프런트 콘솔(nginx)이 리슨/노출할 호스트 포트. 게이트웨이 리다이렉트가 localhost:5173 고정이라 5173 권장.
CONSOLE_PORT=5173

USER_DB_ENDPOINT=jdbc:postgresql://user-db-host:5432/userdb
USER_DB_USERNAME=user_user
USER_DB_PASSWORD=password

ITEM_DB_ENDPOINT=jdbc:postgresql://item-db-host:5432/itemdb
ITEM_DB_USERNAME=item_user
ITEM_DB_PASSWORD=password

INVENTORY_DB_ENDPOINT=jdbc:postgresql://inventory-db-host:5432/inventorydb
INVENTORY_DB_USERNAME=inventory_user
INVENTORY_DB_PASSWORD=password

PROCUREMENT_DB_ENDPOINT=jdbc:postgresql://procurement-db-host:5432/procurementdb
PROCUREMENT_DB_USERNAME=procurement_user
PROCUREMENT_DB_PASSWORD=password

SALES_DB_ENDPOINT=jdbc:postgresql://sales-db-host:5432/salesdb
SALES_DB_USERNAME=sales_user
SALES_DB_PASSWORD=password